.page-header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/img/agua-carga-carro-262353.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .page-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            width: 50%;
        }
    }
}

@media only screen and (max-device-width: 1366px) {
    .page-header {
        background-attachment: scroll;

        .page-title {
            img {
                width: 100%;
            }
        }
    }
}