<nav class="nav-extended transparent">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo" title="{{ site.description }}">
                {% include nav/logotipo.svg %}
            </a>
    
            <a href="#" data-target="sideNav" class="sidenav-trigger">
                <i class="fas fa-lg fa-bars"></i>
            </a>
    
            <ul class="right hide-on-med-and-down">
                {% include nav/nav.html %}
    
                <li>
                    <a href="#contacts" class="btn-large waves-effect waves-light modal-trigger">Contact Us</a>
                </li>
            </ul>
        </div>
    
        <div class="nav-content hide-on-large-only">
            <a href="#contacts" class="btn-floating halfway-fab waves-effect waves-circle waves-light modal-trigger"><i class="fas fa-envelope"></i></a>
        </div>
    </div>
</nav>

{% include nav/sidenav.html %}