<nav class="extended-navbar transparent">
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" class="brand-logo" title="{{ site.description }}">
                {% include nav/logotipo.svg %}
            </a>

            <a href="#" data-target="sideNav" class="sidenav-trigger">
                <i class="fas fa-lg fa-bars"></i>
            </a>
    
            <ul class="right hide-on-small-only">
                {% include nav/nav.html %}
            </ul>
        </div>
    </div>
</nav>

{% include nav/sidenav.html %}