<section id="about" class="section scrollspy">
    <div class="container center">        
        {% for item in site.about limit: 1 %}
            <h3><i class="fas fa-{{ item.icon }}"></i>{{ item.title }}</h3>
            <p class="justified">{{ item.content }}</p>
        {% endfor %}

        <a href="#aboutModal" class="btn waves-effect waves-light modal-trigger">More</a>
    </div>
</section>

<style>
    #about {
        background-image: url(/assets/img/sale-tag_1920.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        
        height: 50vh;
        color: #fff;
        text-shadow: -2px 2px #444;
    }
</style>