<section id="about" class="section scrollspy">
    <div class="container center">        
        <article>
            <div class="hide-on-small-only">
                {% for item in site.about limit: 1 %}
                    <div class="container">
                        <h4><i class="fas fa-{{ item.icon }}"></i>{{ item.title }}</h4>
                        <p class="flow-text">{{ item.content }}</p>
                    </div>
                {% endfor %}
            </div>

            <div class="hide-on-med-and-up">
                A Logistics and transport company for medium to large scale of commodities 
                as well as customs clearance service, 
                we specialise ourselves in outsourcing and procurement.
                We regard ourselves as one of the best supplier of Logistics and transport 
                in the southern region of Africa by adding more values to clients vision and works through providing 
                quality technical advices, updates on technical information at no cost.
            </div>
        </article>

        <div class="row">
            {% for item in site.about %}
                {% unless forloop.first %}
                    <a 
                        href="#{{ item.title | downcase }}" 
                        class="modal-trigger btn-large waves-effect waves-light tooltipped" 
                        data-position="bottom" 
                        data-tooltip="{{ item.title }}" >
                        <i class="fas fa-{{ item.icon }}"></i> {{ item.title }}
                    </a>
                {% endunless %}
            {% endfor %}
        </div>
    </div>
</section>

<style>
    #about {
        background-image: url(/assets/img/sale-tag_1920.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        
        color: #fff;
        text-shadow: -2px 2px #444;

    }

    #about article {
        background-color: rgba(0, 186, 252, .5);
    }
</style>