<section id="clients" class="section scrollspy primary-color-text">
    <section class="container center">
        <h3><i class="fas fa-user"></i> Top Clients</h3><hr>
        <div class="row">
            {% for item in site.clients %}
                <div class="col s12 l4">
                    <div class="card small hoverable grey-text text-darken-4">
                        <div class="card-image">
                            <img src="{{ item.image }}" alt="{{ item.title }}">
                        </div>
                        <div class="card-content">
                            <h5>{{ item.title }}</h5>
                        </div>
                        <div class="card-action">
                            <button class="activator btn waves-effec waves-light">Get to Know</button>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title">{{ item.title }} <i class="far fa-times-circle right"></i></span><hr>
                            <p>{{ item.description | markdownify }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</section>