<footer class="page-footer primary-color-dark">
    <div class="container">
        <div class="row">
            <div class="col s12 l4">
                <h5>Who We Are</h5>
                <p class="justified">
                    A Logistics and transport company for medium to large scale of commodities as well as customs clearance service, we specialise ourselves in outsourcing and procurement.
                    We regard ourselves as one of the best supplier of Logistics and transport in the southern region of Africa by adding more values to clients vision and works through providing quality technical advices, updates on technical information at no cost.
                </p>

            </div>

            <div class="col s12 l4">
                <h5>Contact Us</h5>
                Tel: +21 084 017 <br>
                Cel: +258 84  380 8268 <br>
                Email: <a href="mailto:{{ site.email }}" class="white-text" title="Email">{{ site.email }}</a>
            </div>

            <div class="col s12 l4">
                <h5>Talk to Us</h5>   
                {% include contact-form.html %}
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            &copy; {{ site.time | date: "%Y" }} All Rights Reserved | {{ site.title }} - {{ site.description }} | Powered by IZItag
        </div>
    </div>
</footer>