<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo" title="{{ site.title }}">
                <img src="{{ site.image }}" alt="{{ site.title }}" style="height: 64px;"
            </a>
            <a data-target="sideNav" class="sidenav-trigger"><i class="fas fa-bars"></i></a>

            <ul class="right hide-on-med-and-down">
                {% include nav.html %}
            </ul>
        </div>
    </nav>
</div>
