<section id="partners" class="section grey lighten-4 scrollspy">
    <section class="container center">
        <i class="fa-5x far fa-user-circle primary-color-text"></i>
        <h3>Partners</h3><hr>
        <div class="row">
            {% for item in site.partners %}
                <div class="col s12 l4">
                    <div class="card medium hoverable">
                        <div class="card-image">
                            <img src="{{ item.image }}" alt="{{ item.title }}" class="materialboxed">
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{ item.title }}</span>
                            <p>{{ item.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</section>