<section id="services" class="section primary-color white-text scrollspy">
    <section class="container center">
        <i class="fa-5x fas fa-briefcase white-text"></i>
        <h3>Services</h3><hr>

        <section class="row">
            {% for item in site.services %}
                <div class="col s12 l4">
                    <i class="fa-3x fas fa-{{ item.icon }} white-text"></i>
                    <h4>{{ item.title }}</h4><hr>
                    <p>{{ item.description }}</p>
                </div>
            {% endfor %}
        </section>
    </section>
</section>
