<section id="services" class="section primary-color-light white-text scrollspy center-align">
    <section class="container">
        <h3><i class="fas fa-briefcase"></i> Services</h3>

        <section class="row">
            {% for item in site.services %}
                <div class="col s12 l3">
                    <a href="#{{ item.title | downcase }}" 
                        class="modal-trigger white-text tooltipped" 
                        data-position="top" 
                        data-delay="50" 
                        data-tooltip="View More">
                        <p class="flow-text bold">
                            <i class="fas fa-{{ item.icon }}"></i>
                            <br>
                            <strong>{{ item.title }}</strong>
                        </p>
                    </a>
                </div>
            {% endfor %}
        </section>
    </section>
</section>