{% include header/header-bg.html %}

<header class="page-header">
    {% include nav/navbar.html %}
    
    <div class="container center-on-small-only">
        
        <h1 class="text-title white-text capitalize hide-on-small-only">When you think about logistics, think about {{ site.title }}</h1>
        <p class="text-title bolder white-text capitalize hide-on-med-and-up">When you think about logistics, think about {{ site.title }}</p>
        
        {% include header/cta.html %}
    </div>
</header>