{% include header/header-bg.html %}

<header class="page-header">
    {% include nav/navbar.html %}
    
    <div class="container">
        
        <h1 class="text-title white-text capitalize hide-on-small-only">When you think about logistics, think about {{ site.title }}</h1>
        <h3 class="text-title white-text capitalize hide-on-med-and-up">When you think about logistics, think about {{ site.title }}</h3>
        
        <a href="#services" class="btn-large waves-effect waves-light">Get to Know Us</a>
    </div>
</header>