<section id="about" class="section no-pad scrollspy grey lighten-4">
    <div class="container">
        <div class="section-grid">
            <div>
                <h4 class="text-title primary-color-text">About Us</h4>
    
                {% for item in site.about limit: 1 %}
                    <div class="justify light">
                        {{ item.content | truncatewords: 60 }}
                    </div>
                {% endfor %}

                <a href="#moreAbout" class="modal-trigger waves-effect waves-primary">Read More</a>
                <a href="/assets/CompanyProfileICLM-2020.pdf" target="_blank" class="btn-flat waves-effect waves-primary primary-color-text"><i class="fas fa-file-pdf"></i> Our Profile</a>
            </div>
    
            <div class="slider">
                <ul class="slides">
                    <li><img src="/assets/img/uploads/road-freight.png" alt=""></li>
                    <li><img src="/assets/img/uploads/air-freight.png" alt=""></li>
                    <li><img src="/assets/img/uploads/sea-freight.png" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% include home/aboutModal.html %}