<section id="contacts" class="section scrollspy grey lighten-4">
    <div class="container">
        <div class="row">
            
            <div class="col s12 l6">
                <h4 class="bolder primary-color-text">Contact Us</h4>

                {% include contact-form.html %}
            </div>

            <div class="col s12 l6">
                <h4 class="bolder primary-color-text">Locate Us</h4>
                
                {% include home/location.html %}
            </div>
        </div>
    </div>
</section>