<header class="page-header">
    <div class="page-title center">
        <img src="{{ site.image }}" alt="{{ site.title }}">
        
        <h4 class="bolder white-text capitalize hide-on-small-only">When you think about logistics, think about {{ site.title }}</h4>
        <p class="bolder white-text capitalize hide-on-med-and-up">When you think about logistics, think about {{ site.title }}</p>
        {% include home/cta.html %}

        <div class="row hide-on-small-only">
            <div class="col l4">
                <div class="card-panel primary-color-text">
                    <span class="fa fa-5x fa-truck"></span>
                    <p class="bolder">Road Freight</p>
                </div>
            </div>

            <div class="col l4">
                <div class="card-panel primary-color-text">
                    <span class="fa fa-5x fa-plane"></span>
                    <p class="bolder">Air Freight</p>
                </div>
            </div>

            <div class="col l4">
                <div class="card-panel primary-color-text">
                    <span class="fa fa-5x fa-ship"></span>
                    <p class="bolder">Sea Freight</p>
                </div>
            </div>
        </div>
    </div>
</header>