<div id="partners" class="modal">
    <div class="modal-content">
        <div class="container">
            <h5 class="text-title primary-color-text">Our Partners</h5>
            
            <ul class="collapsible popout">
                {% for item in site.partners %}
                    <li>
                        <div class="collapsible-header">{{ item.title }}</div>
                        <div class="collapsible-body">
                            {{ item.content }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>