<section id="services" class="section scrollspy">
    <section class="container">

        <h4 class="text-title primary-color-text">Our Services</h4>

        <div class="glider-contain">
            <div class="glider">
                {% for item in site.services %}
                    <div class="card left-align" data-aos="zoom-in" data-aos-duration="3000" style="margin: 20px;">
                        <div class="card-image">
                            <img
                                data-src="{{ item.image }}?nf_resize=fit&w=320"
                                alt="{{ item.title }}"
                                data-srcset="{{ item.image }}?nf_resize=fit&h=480 2x,
                                {{ item.image }}?nf_resize=fit&h=720 3x,
                                {{ item.image }}?nf_resize=fit&h=1080 4x"
                                class="lazy">
                        </div>

                        <div class="card-content">
                            <h6 class="left-align primary-color-text">{{ item.title }}</h6>
                            
                            <article class="light left-align">
                                {{ item.content | truncatewords: 20 }}
                                <br><br>
                                <a href="#services{{ forloop.index }}" class="modal-trigger">Read More</a>
                            </article>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <button aria-label="Previous" class="glider-prev">
                <i class="fas fa-chevron-left"></i>
            </button>

            <button aria-label="Next" class="glider-next">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </section>
    {% include home/servicesModal.html %}
</section>