<section id="services" class="section scrollspy">
    <section class="container">
        <h4 class="bolder primary-color-text center-align">Our Services</h4>

        <section class="row">
            {% for item in site.services limit: 6 %}
                <div class="col s12 l4">
                    <div class="card-panel hoverable" style="height: 30vh">
                        <div class="container">
                            <p class="bolder primary-color-text"><i class="fas fa-{{ item.icon }}"></i> {{ item.title }}</p>
                            <div class="justify light">
                                {{ item.content | truncatewords: 10 }}
                            </div>
                            <a href="#services{{ forloop.index }}" class="secondary-color-text modal-trigger">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>

        {% include home/servicesModal.html %}

        <div class="center">
            <a href="#moreServices" title="More Services" class="modal-trigger btn waves-effect waves-light">More Services</a>
        </div>

        {% include home/moreServices.html %}
    </section>
</section>